
<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Home</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/recaptcha.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=DM+Sans:400,400i,500,500i,700,700i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans:400,400i,500,500i,700,700i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  

</head>
<body>
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PFK425"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PFK425');</script>

{{>navbar}}
<section data-bs-version="5" class="header3 cid-sCnmZWoQrk" id="header3-2">

    

    
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg">
                <div class="content_box">
                    <h1 class="mbr-section-title ls-1 mbr-fonts-style display-2">LifeVsion</h1>
                    <p class="mbr-text mbr-fonts-style display-4">Transforming Healthcare
                    </p>
                    <p class="linkBtn mb-0 mbr-fonts-style display-7"><a href="index.html" class="text-warning">Learn More</a></p>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="image-wrapper flash">
                    <img src="assets/images/mbr-1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5" class="features9 cid-sCnn7dnjvN" id="features9-3">

    

    
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="card col-12 col-lg">
                <div class="card-wrapper">
                    <div class="main_title">
                        
                        <h4 class="card-title ls-1 mbr-fonts-style display-2">What does we do</h4>
                    </div>
                    <p class="mbr-text mb-0 mbr-fonts-style display-5">A new Tech team working on bringing Machine to surgeries.</p>
                    <div class="list_box">
                        <p class="list_title mbr-fonts-style display-5"></p>
                        <div class="list mbr-fonts-style display-5">
                            <ol>
                                {{!-- <li>Digital ads &amp;  marketing design</li>
                                <li>Motion graphics design</li>
                                <li>Illustration &amp; infographic design</li>
                                <li>App and web product design</li>
                                <li>Brand identity design</li>
                                <li>Design &amp; brand consulting</li> --}}
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="image-wrapper">
                    <img src="assets/images/graphic1.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5" class="features6 cid-sCnn7rBbfT" id="features6-4">
    

    
    
    <div class="container-fluid">
        <div class="main_header">
            <div class="row justify-content-center">
                <div class="col-12 col-md-12 col-lg-12 align-center">
                    <h4 class="mbr-section-subtitle mbr-fonts-style ls-1 display-7">LifeVsion</h4>
                    <h3 class="mbr-section-title mb-0 mbr-fonts-style ls-1 display-1">What can we do</h3>
                    
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center">
            
            
        
           
       
            <div class="card_item col-12 col-lg-4 col-md-4">
                <div class="item-wrapper">
                    <div class="card-box">
                        <div class="square_animation">
                            <div class="square_null square"></div>
                            <div class="square_fill square"></div>
                        </div>
                        <h4 class="card-title ls-1 mbr-fonts-style display-5">Robotic Arm</h4>
                        <p class="card-text mbr-fonts-style display-4">A tech Arm for doing surgery from anywhere around the world.</p>
                        <p class="linkBtn mb-0 mbr-fonts-style display-7"><a href="index.html" class="text-primary">View More</a></p>
                    </div>
                </div>
           </div><div class="card_item col-12 col-lg-4 col-md-4">
                <div class="item-wrapper">
                    <div class="card-box">
                        <div class="square_animation">
                            <div class="square_null square"></div>
                            <div class="square_fill square"></div>
                        </div>
                        <h4 class="card-title ls-1 mbr-fonts-style display-5">Computer Vision</h4>
                        <p class="card-text mbr-fonts-style display-4"></p>
                        <p class="linkBtn mb-0 mbr-fonts-style display-7"><a href="index.html" class="text-primary">View More</a></p>
                    </div>
                </div>
           </div><div class="card_item col-12 col-lg-4 col-md-4">
                <div class="item-wrapper">
                    <div class="card-box">
                        <div class="square_animation">
                            <div class="square_null square"></div>
                            <div class="square_fill square"></div>
                        </div>
                        <h4 class="card-title ls-1 mbr-fonts-style display-5">Object Detection</h4>
                        <p class="card-text mbr-fonts-style display-4"></p>
                        <p class="linkBtn mb-0 mbr-fonts-style display-7"><a href="index.html" class="text-primary">View More</a></p>
                    </div>
                </div>
           </div></div>
    </div>
</section>

<section data-bs-version="5" class="footer1 cid-sCnnvd6rsP" once="footers" id="footer1-a">

    

    

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-7">
                <h4 class="mbr-section-subtitle ls-2 mbr-fonts-style display-4">
                    USEFUL LINKS
                </h4>
                <ul class="foot-menu">
                    
                    
                    
                    
                    
                <li class="foot-menu-item mbr-fonts-style display-7">
                        <a class="text-warning" href="index.html#features9-3">About us</a>
                    </li><li class="foot-menu-item mbr-fonts-style display-7">
                        <a class="text-warning" href="index.html#features7-7">Services</a>
                    </li><li class="foot-menu-item mbr-fonts-style display-7">
                        <a class="text-warning" href="index.html#form2-8">Contact Us</a>
                    </li><li class="foot-menu-item mbr-fonts-style display-7"><a href="index.html#features8-5" class="text-warning">Works</a></li></ul>
            </div>
            <div class="col-12 col-md-12 col-lg-5">
                <div class="box">
                    <h4 class="mbr-section-subtitle ls-2 mbr-fonts-style display-4">
                        CONTACT US
                    </h4>
                    <ul class="foot-contacts">
                        
                        
                    <li class="foot-phone mbr-fonts-style display-7">
                            <a class="text-warning" href="#">8877240694</a>
                        </li><li class="foot-mail mbr-fonts-style display-7">
                            <a class="text-warning" href="#">shubhamkts14@gmail.com</a>
                        </li></ul>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/ytplayer/index.js"></script>
  <script src="assets/playervimeo/vimeo_player.js"></script>
  <script src="assets/theme/js/script.js"></script>
  <script src="assets/formoid/formoid.min.js"></script>
  
  
  

</body>
</html>